@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MY HEALTH RECORDS</h1>
    <p class="lead">MY HEALTH RECORDS IS A GOOD APPLICATION THAT HELPS YOU ORGANIZE EVERYTHING THAT IS IMPORTANT FOR YOUR HEALTH AND HEALTHY PROBLEMS.</p>
    <p>
        <img src="~/Images/Logo.jpg" style="max-width:300px; max-height:300px;align-self:center"/>
    </p>
</div>

