@model HealthRecords.Models.MedicineSelect

@{
    /**/

    ViewBag.Title = "SelectMedicines";
}

<h2>Select Medicines</h2>

@using (Html.BeginForm("SelectMedicines", "Medicines"))
    { 
    <div class="editor-field">
        @Html.CheckBoxListFor(model => model.SelectedMedicines,
                            model => model.Medicines,
                            x => x.Id,
                            x => x.Name,
                            model => model.SelectedMedicines)
    </div>

<button type="submit">BUY</button>
}